/* フォントファミリーの統一 */
* {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    margin: 0;
}

.sidebar {
    width: 180px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding-top: 18px;
    position: fixed;
    transition: width 0.3s ease, background-color 0.3s ease;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    z-index: 101;
    /* 最前面に表示するためのz-index */
}

/* サイドバーのホバーエフェクト */
@media (min-width: 1100px) {
    .sidebar:hover {
        width: 270px;
        background-color: rgba(51, 51, 51, 0.8);
    }

    .sidebar:hover~.main-content {
        margin-left: 270px;
    }
}


/* タッチ入力の場合にサイドバーのホバーエフェクトを無効にする */
.touch-input .sidebar:hover {
    width: 180px;
    background-color: #333;
}

.touch-input .sidebar:hover~.main-content {
    margin-left: 180px;
}


.sidebar h2 {
    padding-left: 9px;
    font-size: 31.5px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}

.sidebar ul {
    list-style-type: none;
    padding: 4.5px 0;
}

.sidebar ul li {
    padding: 9px 9px 18px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 22px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    transition: background-color 0.5s ease;
}

.sidebar ul li a:hover {
    background-color: #3e3e3ea1;
}

.main-content {
    margin-left: 180px;
    width: calc(100% - 180px);
    min-height: 90vh;
    padding-top: 18px;
    transition: margin-left 0.3s ease;
}





/* サイドバーのレスポンシブデザイン */
/* サイドバーのレスポンシブデザイン */
@media (max-width: 1100px) {

    /* ハンバーガーメニューのスタイル */
    .hamburger-menu {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 18px;
        left: 18px;
        z-index: 102;
        cursor: pointer;
    }

    .hamburger-menu .bar {
        width: 100%;
        height: 3px;
        background-color: black;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    .hamburger-menu.open .bar {
        background-color: white;
    }

    .sidebar {
        width: 0;
        overflow: hidden;
        transition: width 0.3s ease;
    }

    .sidebar.open {
        width: 180px;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .hamburger-menu {
        display: flex;
    }

    /* ハンバーガーメニューが表示されているときにサイドバーのホバーエフェクトを無効にする */
    .hamburger-menu.open~.sidebar:hover {
        width: 180px;
        background-color: #333;
    }
}

header {
    padding: 9px;
    text-align: left;
    border-bottom: 1.8px solid #444444;
}

header h1 {
    font-size: 36px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}


@media (min-width: 768px) {
    .post-it {
        float: left;
        margin-right: 18px;
        width: 350px;
        height: auto;
        box-shadow: 4.5px 4.5px 13.5px rgba(0, 0, 0, 0.3);
        background: #ffeb3b;
        padding: 9px;
        transform: rotate(-5deg);
        border: 0.9px solid #ccc;
    }

    /* 名前 */
    /* 名前 */
    .name {
        text-align: left;
        font-size: 31.5px;
        font-family: "Edu AU VIC WA NT Pre", cursive;
    }

    .name_E::after {
        content: " / ";
        white-space: pre;
    }

    .name_J {
        display: inline-block;
    }
}


/* スマホ版 (画面幅が768px以下の場合) */
@media (max-width: 768px) {

    /* 画像が重ならないように調整 */
    .post-it {
        float: left;
        margin-right: 18px;
        width: 350px;
        height: auto;
        box-shadow: 4.5px 4.5px 13.5px rgba(0, 0, 0, 0.3);
        background: #ffeb3b;
        padding: 9px;
        transform: rotate(-5deg);
        border: 0.9px solid #ccc;
        margin-bottom: 18px;
    }

    img {
        width: 100%;
        /* 幅を親要素に合わせる */
        height: auto;
        /* アスペクト比を維持 */
    }

    /* 名前の改行調整 */
    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name_E,
    .name_J {
        display: block;
    }

    .name_E::after {
        content: "";
        display: block;
        margin-top: 5px;
    }

    /* プログラミングスキルと組み込みスキルの調整 */
    .skill-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .skill {
        flex: 1 1 calc(50% - 10px);
        /* 横に2つ並べる */
        margin-bottom: 10px;
    }
}

.content {
    padding: 18px;
    overflow: hidden;
}

.content p {
    text-align: right;
}

.content h2 {
    font-size: 27px;
    border-bottom: 1.8px solid #615e5ea9;
    clear: both;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}

.content h3 {
    text-align: center;
    font-size: 22.5px;
}

.content p {
    text-align: center;
}

.about-text {
    text-align: left;
}

.qualification-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    gap: 2px;
}

.qualification-name {
    flex: 2;
    margin-right: 2px;
}

.qualification-level {
    flex: 1;
    text-align: left;
    margin-right: 2px;
}

.qualification-date {
    flex: 1;
    text-align: left;
    white-space: nowrap;
}

.self-introduction {
    text-align: left;
}

.about-text p {
    text-align: left;
    font-size: 19.8px;
    line-height: 1.08;
}

.about-text h3 {
    text-align: left;
    font-size: 28.8px;
    line-height: 1.08;
}

.self-introduction p {
    text-align: left;
}

.Skills h3 {
    font-size: 25px;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.skill {
    background-color: #f4f4f4;
    padding: 18px;
    border-radius: 9px;
    box-shadow: 0 3.6px 7.2px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
    transform: scale(1.1);
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.skill-container:hover .skill:not(:hover) {
    background-color: rgba(0, 0, 0, 0.1);
}

.skill h4 {
    font-weight: 450;
    font-size: 21.6px;
    margin-bottom: 9px;
}

.skill p {
    font-size: 18px;
}

.skill-image {
    width: auto;
    height: 90px;
    margin-bottom: 9px;
}

.star-rating {
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.star-rating.visible {
    opacity: 1;
    transform: translateX(0);
}

.star-rating span {
    font-size: 30px;
    color: gold;
    margin: 0 5px;
    transition: color 0.3s ease, transform 0.5s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.tools {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tools .skill {
    flex: 1 1 200px;
    box-sizing: border-box;
}

/* タイムラインのセクションスタイル */
#Timeline {
    padding: 36px 18px;
    background-color: #f9f9f9;
    margin: 36px 0;
}

#Timeline h2 {
    font-size: 27px;
    margin-bottom: 18px;
    text-align: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: relative;
    padding-left: 45px;
}

@media (min-width: 768px) {
    .timeline::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 52px;
        width: 3px;
        background-color: #615e5e;
    }

    .timeline-item {
        display: flex;
        align-items: flex-start;
        position: relative;
        padding: 18px;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-left: 36px;
    }

    .timeline-item::before {
        content: '●';
        position: absolute;
        left: -36px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: #4d4b4b;
        line-height: 1;
        transition: color 0.3s ease;
        transition-delay: 0.5s;
    }

    .timeline-item.scrolled::before {
        color: #FFA07A;
    }

    .timeline-date {
        width: 100px;
        font-size: 18px;
        color: #444;
        font-weight: bold;
        text-align: right;
        margin-right: 24px;
    }

    .timeline-content {
        text-align: center;
        position: relative;
    }

    .timeline-content h4 {
        font-size: 21.6px;
        margin-bottom: 9px;
        color: #333;
    }

    .timeline-content p {
        font-size: 16.2px;
        color: #555;
        line-height: 1.6;
    }

    .timeline-image {
        margin-top: 9px;
        max-width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        display: block;
        margin: 0 auto;
        width: auto;
        height: 500px;
    }

    .timeline-content a {
        display: inline-block;
        padding: 8px 12px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        text-decoration: none;
        color: #007BFF;
        transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    }

    .timeline-content a:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
        background-color: #f18e472e;
    }

    .timeline-content a:active {
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .timeline-item h4 {
        font-weight: 900;
        font-size: 25px;
        text-align: left;
    }

    .timeline-item p {
        text-align: left;
        font-size: large;
        font-weight: 700;
    }

    .timeline-link {
        position: absolute;
        right: -10px;
        bottom: -20px;
        transform: translateX(100%);
    }
}





/* スマホ版用のスタイル調整 */
/* スマホ版用のスタイル調整 */
@media screen and (max-width: 768px) {

    /* タイムラインの縦線を左に寄せる */
    .timeline {
        position: relative;
        padding-left: 10px;
    }

    .timeline::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: #ccc;
    }

    /* 画像のスタイル */
    .timeline-item img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }

    /* 説明文のスタイル */
    .timeline-item .description {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    /* リンクのスタイル */
    .timeline-item a {
        display: block;
        font-size: 1rem;
        color: #007BFF;
        text-decoration: none;
        margin-top: 10px;
        /* 説明文の下にリンクを配置 */
    }

    .timeline-item a:hover {
        text-decoration: underline;
    }
}

#scrollToTopBtn {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #9f9f9f;
    color: #000;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

#scrollToTopBtn.show {
    opacity: 1;
}

#scrollToTopBtn:hover {
    background-color: #d9d9d9;
}

.contact img {
    width: 5%;
    height: auto;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@keyframes press {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes flyAway {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .contact img {
        width: 10%;
        height: auto;
        transition: transform 0.5s ease-in-out;
        animation: bounce 2s infinite;

    }
}

@media (min-width: 768px) {
    .contact img {
        width: 5%;
        height: auto;
        transition: transform 0.3s ease-in-out;
    }

    .contact img:hover {
        animation: bounce 2s infinite;
    }
}